/*######### Defaults #######*/
* {
    box-sizing: border-box;
}

nav, 
header, 
footer {
    display: block;
}

section {
  margin: 5px
    
}
body {
    margin: 0;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

/*########### Nav bar ##########*/
nav { 
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
  padding-left: 10px
}
a {
    text-decoration: none;
    text-align: left;
}

ul.topnav li a { 
    display: flex;
/*     justify-content: space-around; */
    width: 100%;
    align-items: center;
    min-height: 50px;
    padding-left: 15px;
    padding-right: 7px;
    color: #666;
}

ul.topnav li:hover {
    background-color: rgb(77, 199, 204);
    color: white;
}
ul.topnav li a:hover {
    color: white;
}
 #map {
    height: 500px;
}


/*######### MOBILE #######*/

@media screen and (max-width: 680px) {
    ul.topnav {
      display: flex;
      flex-direction: column;
    }
  .hor {
    text-align: center;
    font-size: 20px;
    padding: 8px;
  }
  ul li {
    display: flex;
    justify-content:space-between;
  }
  ul.hor  {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 15px;
    }


}